 <!-- About Section -->
    <section class="success" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-lg-offset-2">
              <p>
                I study the physics of soft materials and their applications in new technologies.
                Soft robotics, renewable materials, advanced manufacturing, laboratory automation,
                and other soft matter adjacent fields are exciting rapidly developing areas that hold promise for all of us.
                I am committed to science for the good of everyone and building an inclusive and equitable society.
                <br>
                Full stack scientist: from fundamental physical principles to translating science from the bench to society while educating future scientists.
              </p>
          </div>
          <div class="col-lg-5">
            <img class="img-responsive" src="img/profile_big.png" alt="profile-pic" style='width:75%; max-width: 350px;'/>
          </div>
        </div>
        <hr />
      </div>
    </section>
